#scoreboard {
    th {
        text-align: left;
        border-bottom: solid 2pt black;
        padding: 10px;
    }
    td {
        border-bottom: solid 1pt #555;
        border-right: thin 1pt #555;
        border-left: thin 1pt #555;
        padding: 10px;
    }
}